.wrapper{
    height: 600px;
    width: 100%;
    display: flex;
    position: relative;
}

#image{
    position: absolute;
    top:45%;
    left:45%;
    z-index: 1;
}

#s1{
    position: absolute;
    top:25%;
    left:45%;
}

#s2{
    position: absolute;
    top:60%;
    left:35%;
    transform: rotate(240deg);
}

#s3{
    position: absolute;
    top:60%;
    left:55%;
    transform: rotate(120deg);
}