@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color:black;
}

#navegacao{
    font-weight: bold;
    position: fixed;
    background-color: orangered;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition:1s;
    z-index: 2;
}

#lista{
    background-color: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista_links{
    background-color: inherit;
    position: relative;
    list-style: none;
}

.nav_links{
    font-size: 20px;
    background-color: inherit;
    position: relative;
    margin: 0px 20px;
    color: white;
    text-decoration: none;
}

#Nome{
    background-color: rgba(0,0,0,0);
    color: white;
    margin: 40px;
    font-size: 40px;
}

#Profissao{
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 30px;
}

#Banner {
    font-weight: bold;
    text-align: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../images/banner.png");
    opacity: 0.9;
}

#Informacoes{
    display: grid;
    grid-template-columns: 20% 80%;
}

.referencias {
    background-color: rgba(0,0,0,0);
    display: flex;
    flex: auto;
    padding: 40px;
}

#Pessoais{
    display: grid;
    grid-template-rows: 80% 20%;
}

#local-foto{
    padding-top: 120px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#foto{
    clip-path: circle(40% at 50% 40%);
}

#redes_sociais{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.topicos{
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: orangered;
}

#Tecnicas{
    padding-bottom: 20px;
    margin-right: 20%;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    font-size: 24px;
    color: white;
}

#trajetoria{
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 20px;
}

.ano{
    color:orangered;
    transition: all 0.3s ease-in-out;
}

.ano:hover{
    color:white;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

#Rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: orangered;
    color: white;
}

#imagem_ano{
    height: 480px;
    display:flex;
    justify-content: center;
    padding-bottom: 20px;
}

#estatisticas{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    font-size: 20px;
}

.estatistica{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#projetos{
    padding-top: 80px;
    display: grid;
    justify-items: center;
    justify-content:space-between;
    gap:40px;
    grid-template-columns: 30% 30% 30%;
}

.imagem-projeto{
    display: flex;
    width: 100%;
    transition: all 0.5s ease-in-out;
    filter: blur(10px);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);

}

.imagem-projeto:hover{
    transition: all 0.5s ease-in-out;
    filter: blur();
    clip-path: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#habilidade{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 10%;
    padding-right: 10%;
}

#imagens-habilidades{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.imagem-habilidade{
    width:100%;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.imagem-habilidade:hover{
    width:100%;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#descricao-habilidades{
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
}